@import "../../style.scss";

.status {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    .container {
      padding: 40px;

      h3 {
        margin-top: 10px;
      }

      div {

        // Set a fixed width for the label
        label {
          margin-right: 10px; // Adds space between the label and time span
        }

        // Style the time span
        span {
          text-align: right;
          flex-grow: 1; // Allows the span to take up the remaining space
        }
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 500;
            }

            .date {
              font-size: 12px;
            }
          }
        }
        .menu {
          position: relative;

          // Dropdown menu container
          .dropdown-menu {
            width: 200px;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: themed("bg");
            border: 1px solid themed("border");
            border-radius: 8px;
            padding: 5px 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;

            // Style the buttons inside the dropdown menu
            button {
              display: block;
              width: 100%;
              padding: 8px;
              text-align: left;
              border: none;
              background-color: transparent;
              color: themed("textColor");
              cursor: pointer;

              &:hover {
                background-color: themed("hoverBg");
              }

              &:first-child {
                border-bottom: 1px solid themed("border");
              }
            }
          }
        }
      }

      .content {
        margin: 20px 0px;
        .special {
          border: 1px solid #000000; // Adds a gray border around each section
          border-radius: 5px; 
          padding: 10px;
          margin-bottom: 10px;

          div {
            margin: 10px;
          }
        }

        .sub-topic {
          display: flex;
          align-items: center;

          span {
            font-weight: bold;
          }
        }

        p {
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 20px;
          margin-top: 5px;
        }

        .sub-topic hr {
          flex-grow: 1;
          border: 0;
          border-top: 1px solid #ccc;
          margin-left: 10px;
        }

        .points-list {
          margin-left: 30px;

          li {
            display: flex;
            color: rgb(24, 90, 135);
          }

          p {
            margin-left: 0px;
          }
        }

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
          margin-bottom: 20px;
        }

      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
}